@model HoneyWedding.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" })) {
                @Html.AntiForgeryToken()
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">@ViewBag.Title</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    @Html.ValidationSummary(true, "", new { @class = "mdl-textfield__error" })
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.TextBoxFor(m => m.Email, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(m => m.Email, new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "mdl-textfield__error" })
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(m => m.Password, new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "mdl-textfield__error" })
                    </div>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "mdl-checkbox__input" })
                        @Html.LabelFor(m => m.RememberMe)
                    </label>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Forget your password?", "ForgotPassword")
                    </p>
                    <p>
                        @Html.ActionLink("Create New User Account", "Register")
                    </p>
                </div>
            }
        </section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}