@model IEnumerable<HoneyWedding.Models.AccommodationLocation>

@{
    ViewBag.Title = "Accommodations";
}

<div class="mdl-card mdl-card__page mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">@ViewBag.Title</h2>
    </div>
    <div class="mdl-card__supporting-text">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <th class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                Rooms
            </th>
                <th class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayNameFor(model => model.InFairPlay)
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    @Html.DisplayNameFor(model => model.DistanceFromVenue)
                </th>
                <th class="mdl-data-table__cell--non-numeric"></th>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.Website)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.Rooms.Count)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.InFairPlay)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.DistanceFromVenue)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
