@model List<HoneyWedding.Models.AccommodationViewModel>


<div class="mdl-card__supporting-text">
    <table class="mdl-data-table mdl-js-data-table table__fixed-headers" id="table__accommodations-list">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">
                    @(ViewBag.SortOrder == "" ? Html.Raw("<i class='material-icons mdl-data-table__column-sort-icon'>arrow_drop_up</i>") : Html.Raw(""))
                    @(ViewBag.SortOrder == "name_desc" ? Html.Raw("<i class='material-icons mdl-data-table__column-sort-icon'>arrow_drop_down</i>") : Html.Raw(""))
                    <a href="#" onclick="loadAccommodationsList('@ViewBag.NameSortParm')">@Html.DisplayNameFor(model => model.FirstOrDefault().LocationName)</a>
                </th>
                <th class="mdl-data-table__cell">
                        @(ViewBag.SortOrder == "Sleeps" ? Html.Raw("<i class='material-icons mdl-data-table__column-sort-icon'>arrow_drop_up</i>") : Html.Raw(""))
                        @(ViewBag.SortOrder == "sleeps_desc" ? Html.Raw("<i class='material-icons mdl-data-table__column-sort-icon'>arrow_drop_down</i>") : Html.Raw(""))
                        <a href="#" onclick="loadAccommodationsList('@ViewBag.SleepsSortParm')">@Html.DisplayNameFor(model => model.FirstOrDefault().RoomFor)</a>
                </th>
                <th class="mdl-data-table__cell">
                    <div style="display: inline-block;">
                        @(ViewBag.SortOrder == "Price" ? Html.Raw("<i class='material-icons mdl-data-table__column-sort-icon'>arrow_drop_up</i>") : Html.Raw(""))
                        @(ViewBag.SortOrder == "price_desc" ? Html.Raw("<i class='material-icons mdl-data-table__column-sort-icon'>arrow_drop_down</i>") : Html.Raw(""))
                        <a href="#" onclick="loadAccommodationsList('@ViewBag.PriceSortParm')">@Html.DisplayNameFor(model => model.FirstOrDefault().PriceRange)</a>
                    </div>
                </th>
                <th class="mdl-data-table__cell">
                    @(ViewBag.SortOrder == "Baller" ? Html.Raw("<i class='material-icons mdl-data-table__column-sort-icon'>arrow_drop_up</i>") : Html.Raw(""))
                    @(ViewBag.SortOrder == "baller_desc" ? Html.Raw("<i class='material-icons mdl-data-table__column-sort-icon'>arrow_drop_down</i>") : Html.Raw(""))
                    <a href="#" onclick="loadAccommodationsList('@ViewBag.BallerSortParm')">@Html.DisplayNameFor(model => model.FirstOrDefault().BallerRating)</a>
                    @*<button id="menu_ballerRating" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons mdl-color-text--accent">info</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="menu_ballerRating">
                        <li class="mdl-menu__item"><a href="http://onlineslangdictionary.com/meaning-definition-of/baller" target="_blank">More Info</a></li>
                    </ul>*@
                </th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model)
            {
                <tr onclick="loadAccommodationDetail(@item.ID)">
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td class="mdl-data-table__cell">
                        @Html.DisplayFor(modelItem => item.RoomFor)
                    </td>
                    <td class="mdl-data-table__cell">
                        @Html.DisplayFor(modelItem => item.PriceRange)
                    </td>
                    <td class="mdl-data-table__cell">
                        @Html.DisplayFor(modelItem => item.BallerRating)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

