@model HoneyWedding.Models.AccommodationLocation

<div class="accommodationsFlexContainer">

    <div class="mdl-card__title" style="background: url('../../Content/img/@(!string.IsNullOrEmpty(Model.Img) ? Model.Img : "needImage.png" )') center; background-size: cover;">
        <p class="mdl-card__title-text">@Html.DisplayFor(model => model.LocationName)</p>
    </div>

    <div class="mdl-card__supporting-text" id="detail_text">
        <p><strong>@Html.DisplayNameFor(model => model.Description): </strong>@Html.DisplayFor(model => model.Description)</p>

        <table class="mdl-data-table mdl-data-table-condensed" id="table__accommodation-rooms">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayNameFor(model => model.Rooms.FirstOrDefault().RoomName)
                    </th>
                    <th class="mdl-data-table__cell">
                        @Html.DisplayNameFor(model => model.Rooms.FirstOrDefault().SleepsTotal)
                    </th>
                    <th class="mdl-data-table__cell">
                        @Html.DisplayNameFor(model => model.Rooms.FirstOrDefault().CostNightly)
                    </th>
                    <th class="mdl-data-table__cell">
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Rooms)
                {
                    <tr class="@(item.IsAvailable ? "" : "booked-room")">
                        <td class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayFor(modelItem => item.RoomName)
                        </td>
                        <td class="mdl-data-table__cell">
                            @Html.DisplayFor(modelItem => item.SleepsTotal)
                        </td>
                        <td class="mdl-data-table__cell">
                            @Html.DisplayFor(modelItem => item.CostNightly)
                        </td>
                        <td class="mdl-data-table__cell">
                            @if (item.IsAvailable)
                            {
                                <i class="material-icons mdl-color-text--accent" id="info_@item.ID">info</i>
                                <span class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" for="info_@item.ID">
                                    @if (item.SleepsBed > 0)
                                    { <text>@Html.DisplayNameFor(model => model.Rooms.FirstOrDefault().SleepsBed) @Html.DisplayFor(model => item.SleepsBed) <br /></text> }
                                    @if (item.SleepsSofa > 0)
                                    { <text>@Html.DisplayNameFor(model => model.Rooms.FirstOrDefault().SleepsSofa) @Html.DisplayFor(model => item.SleepsSofa) <br /></text> }
                                    @Html.DisplayNameFor(model => model.Rooms.FirstOrDefault().SleepsTotal) @Html.DisplayFor(model => item.SleepsTotal) total<br />
                                    @Html.DisplayNameFor(model => model.Rooms.FirstOrDefault().CostNightly) @Html.DisplayFor(model => item.CostNightly) <br />
                                    @if (item.MinNights > 1)
                                    {
                                        <text>
                                            @Html.DisplayNameFor(model => model.Rooms.FirstOrDefault().MinNights) @Html.DisplayFor(model => item.MinNights) <br />
                                            @Html.DisplayNameFor(model => model.Rooms.FirstOrDefault().CostMinimum) @Html.DisplayFor(model => item.CostMinimum) <br />
                                        </text>
                                    }
                                </span>
                            }
                            else
                            {
                                <span class="mdl-color-text--red-700">Booked!</span>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>


        <table class="table-list" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.PhoneNumber): </strong>@Html.DisplayFor(model => model.PhoneNumber)
                </td>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.DistanceFromVenue): </strong>@Html.DisplayFor(model => model.DistanceFromVenue) mi
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Email): </strong>@Html.DisplayFor(model => model.Email)
                </td>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.InFairPlay): </strong>@Html.DisplayFor(model => model.InFairPlay)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong>@Html.DisplayNameFor(model => model.Notes): </strong>@Html.DisplayFor(model => model.Notes)
                </td>
            </tr>
        </table>



    </div>
</div>

@if (!Model.Website.IsEmpty() || !Model.MapLink.IsEmpty())
{
    <div class="mdl-card__actions mdl-card--border">
        @if (!Model.Website.IsEmpty())
        {
            <a class="mdl-button mdl-js-button mdl-button--raised" href="@Model.Website" target="_blank">
                Website
            </a>
        }
        @if (!Model.MapLink.IsEmpty())
        {
            <a class="mdl-button mdl-js-button mdl-button--raised" href="@Model.MapLink" target="_blank">
                Map
            </a>
        }
    </div>
}
