
@model List<HoneyWedding.Models.AccommodationViewModel>

@{
    ViewBag.Title = "Staying There";
    //Layout = "~/views/shared/_layoutBlank.cshtml";

}

@section headLevel {<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>}

<div class="mdl-grid mdl-cell--hide-phone">
    <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--4-col-tablet">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                @*<h2 class="mdl-card__title-text">@ViewBag.Title</h2>*@
            </div>
            <div class="mdl-card__supporting-text">

                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                    <th class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().LocationName)
                    </th>
                    <th class="mdl-data-table__cell">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().RoomFor)
                    </th>
                    <th class="mdl-data-table__cell">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().PriceRange)
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                        @*<span style="vertical-align: bottom">@Html.DisplayNameFor(model => model.FirstOrDefault().BallerRating)</span> <button id="menu_ballerRating" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons mdl-color-text--accent">info</i></button> <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="menu_ballerRating"><li class="mdl-menu__item"><a href="http://onlineslangdictionary.com/meaning-definition-of/baller" target="_blank">More Info</a></li></ul>*@
                        <a href="#" id="menu_ballerRating">@Html.DisplayNameFor(model => model.FirstOrDefault().BallerRating)</a> <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="menu_ballerRating"><li class="mdl-menu__item"><a href="http://onlineslangdictionary.com/meaning-definition-of/baller" target="_blank">More Info</a></li></ul>
                    </th>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr onclick="loadAccommodation(@item.ID)">
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.LocationName)
                            </td>
                            <td class="mdl-data-table__cell">
                                @Html.DisplayFor(modelItem => item.RoomFor)
                            </td>
                            <td class="mdl-data-table__cell">
                                @Html.DisplayFor(modelItem => item.PriceRange)
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.BallerRating)
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>

    </div>

    <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--4-col-tablet">
        <div class="mdl-card mdl-shadow--2dp" id="accommodationDetail"></div>
    </div>
</div>

<div id="accordion" class="mdl-grid mdl-cell--hide-desktop mdl-cell--hide-tablet">
    <div class="mdl-cell--4-col">
        <ul class="mdl-list">
            @foreach (var item in Model)
            {
                <li class="mdl-list__item mdl-list__item--three-line accordion-toggle">
                    <span class="mdl-list__item-primary-content">
                        <span class="mdl-list__item-avatar" style="background: url('../../Content/img/honeys_on_couch.jpg') center / cover;"></span>
                        <span>Location 1</span>
                        <span class="mdl-list__item-text-body">
                            This is the description. Phone: ###-###-#### Email: 123@456.com
                        </span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <span class="mdl-color-text--accent">@Html.DisplayFor(modelItem => item.PriceRange)</span>
                    </span>
                </li>
                <li class="accordion-content mdl-list__item">
                    <p>Cras malesuada ultrices augue molestie risus.</p>
                </li>
            }

        </ul>
    </div>
</div>


@section scripts {
    <script type="text/javascript">

        var accommodationDetailUrl = '@Url.Action("AccommodationDetail")';
        var accommodationDetail = $('#accommodationDetail');

        $(document).ready( function () {
            loadAccommodation(@Model.FirstOrDefault().ID, true);
            $('#accordion').find('.accordion-toggle').click(function(){

                //Expand or collapse this panel
                $(this).next().slideToggle('fast');

                //Hide the other panels
                $(".accordion-content").not($(this).next()).slideUp('fast');

            });
        })

        function loadAccommodation(accommodationId, pageLoad = false) {
            // clear html from target div
            accommodationDetail.html('');

            // create spinner for loading
            var spinner = document.createElement('div');
            spinner.className = 'mdl-spinner mdl-js-spinner is-active';
            spinner.style.margin = 'auto auto';
            if (!pageLoad) // no upgrade needed on page load, mdl will upgrade automatically
            {
                componentHandler.upgradeElement(spinner);
            }
            document.getElementById('accommodationDetail').appendChild(spinner);

            // ajax call
            accommodationDetail.load(accommodationDetailUrl, { id: accommodationId });
        }

    </script>
}