@model HoneyWedding.Models.InviteWeddingGuestViewModel
@{
    ViewBag.Title = "Edit Wedding Guest";
}

<section id="editWeddingGuestForm">

    @using (Html.BeginForm("Edit", "WeddingGuests", FormMethod.Post, new { @class = "mdl-card mdl-card__page-small", role = "form" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.HasPlusOne)
        @Html.AntiForgeryToken()
        <h4>Edit Wedding Guest</h4>
        <div class="mdl-card__supporting-text">
            @Html.ValidationSummary("", new { @class = "text-error" })
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "mdl-textfield__input" })
                @Html.LabelFor(m => m.FirstName, new { @class = "mdl-textfield__label" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "mdl-textfield__error" })
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(m => m.LastName, new { @class = "mdl-textfield__input" })
                @Html.LabelFor(m => m.LastName, new { @class = "mdl-textfield__label" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "mdl-textfield__error" })
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(m => m.Email, new { @class = "mdl-textfield__input" })
                @Html.LabelFor(m => m.Email, new { @class = "mdl-textfield__label" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "mdl-textfield__error" })
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "mdl-textfield__input" })
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "mdl-textfield__label" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "mdl-textfield__error" })
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextAreaFor(m => m.Notes, new { @class = "mdl-textfield__input" })
                @Html.LabelFor(m => m.Notes, new { @class = "mdl-textfield__label" })
                @Html.ValidationMessageFor(m => m.Notes, "", new { @class = "mdl-textfield__error" })
            </div>

            @Html.ActionLink("Back to List", "Index", "WeddingGuests")
            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised" value="Save Changes" />
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




