@model IEnumerable<HoneyWedding.Models.WeddingGuest>

@{
    ViewBag.Title = "Wedding Guests";
}

<div class="mdl-card mdl-card__page mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">@ViewBag.Title</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.FirstOrDefault().DidRsvp)
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.FirstOrDefault().CanAttend)
            </th>
            <th></th>
            <th></th>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.DidRsvp)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.CanAttend)
                    </td>
                    <td>
                        <i class="material-icons mdl-color-text--accent" id="info_@item.Id">info</i>
                        <span class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" for="info_@item.Id">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber): @Html.DisplayFor(model => item.PhoneNumber)<br /><br />

                            @Html.DisplayNameFor(model => model.FirstOrDefault().DidRsvp): @Html.DisplayFor(model => item.DidRsvp)<br />
                            @Html.DisplayNameFor(model => model.FirstOrDefault().RsvpDate): @Html.DisplayFor(model => item.RsvpDate)<br />
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CanAttend): @Html.DisplayFor(model => item.CanAttend)<br />
                            @Html.DisplayNameFor(model => model.FirstOrDefault().HasPlusOne): @Html.DisplayFor(model => item.HasPlusOne)<br />
                            @Html.DisplayNameFor(model => model.FirstOrDefault().PlusOneCanAtend): @Html.DisplayFor(model => item.PlusOneCanAtend)<br /><br />

                            @Html.DisplayNameFor(model => model.FirstOrDefault().Meatless): @Html.DisplayFor(model => item.Meatless)<br />
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Vegan): @Html.DisplayFor(model => item.Vegan)<br />
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DietaryNotes): @Html.DisplayFor(model => item.DietaryNotes)<br /><br />

                            @Html.DisplayNameFor(model => model.FirstOrDefault().MeatlessPlusOne): @Html.DisplayFor(model => item.MeatlessPlusOne)<br />
                            @Html.DisplayNameFor(model => model.FirstOrDefault().VeganPlusOne): @Html.DisplayFor(model => item.VeganPlusOne)<br />
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DietaryNotesPlusOne): @Html.DisplayFor(model => item.DietaryNotesPlusOne)<br /><br />

                        </span>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { userId = item.Id }) 
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
