@model IEnumerable<HoneyWedding.Models.WeddingGuest>

@{
    ViewBag.Title = "Wedding Guests";
}

<div class="mdl-card mdl-card__page mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">@ViewBag.Title</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.FirstOrDefault().DidRsvp)
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                @Html.DisplayNameFor(model => model.FirstOrDefault().CanAttend)
            </th>
            <th></th>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.DidRsvp)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.CanAttend)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { userId = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { userId = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { userId = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
