@model HoneyWedding.Models.WeddingGuestViewModel
@{
    ViewBag.Title = "RSVP";
}
@section bodyTagOpen {
    <body class="mdl-color--indigo-100">
}

<style>
    h4, h5, h6 {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    select {
        display: block;
        margin-bottom: 8px;
    }


</style>

<div class="mdl-card mdl-card__page-small mdl-shadow--2dp">

    <section id="rsvpForm">

        @using (Html.BeginForm("RSVP", "WeddingGuests", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.FirstName)
            @Html.HiddenFor(model => model.LastName)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.HasPlusOne)
            @Html.AntiForgeryToken()
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <img alt="Lisa and Russ are getting married" src="../../Content/img/honey_wedding--RSVP_header.jpg" width="100%" style="margin: 0; border: 0; padding: 0; display: block;">
                    </td>
                </tr>
            </table>

            <div class="mdl-card__supporting-text">
                <p>Hi @Model.FirstName! Thanks so much for taking the time to RSVP.</p>
                @Html.ValidationSummary("", new { @class = "text-error" })

                <h4>Will you be able to join us at the ceremony on October 1st?</h4>
                @Html.EditorFor(m => m.CanAttend, new { @class = "" })
                <p><i>If you'd like to attend but you're not certain if you'll be able, select 'Unsure' and we'll send you a reminder in a few weeks.</i></p>

                <div class="form-group">
                    <h5>Dietary Preferences</h5>
                    <p><i>It's important to us that we accommodate the dietary needs of our guests. The menu may contain gluten items like bread and crackers, but these will be obvious and easy to avoid if desired.</i></p>
                    <h6>Would you like a meatless meal option?</h6>
                    @Html.EditorFor(m => m.Meatless, new { @class = "" })

                    <h6>Would you like a vegan meal option?</h6>
                    @Html.EditorFor(m => m.Vegan, new { @class = "" })

                    <h6>Do you have any special dietary needs not accommodated by the questions above?</h6>
                    @Html.EditorFor(m => m.DietaryNotes, new { @class = "" })
                </div>

                @if (Model.HasPlusOne)
                {
                    <br /><br />
                    <h5>Will your 'plus one' be able to join us?</h5>
                    @Html.EditorFor(m => m.PlusOneCanAttend, new { @class = "" })
                    <p><i>If you're not certain, select 'Unsure' and we'll send you a reminder in a few weeks.</i></p>
                    <h6>For use on the seating chart, can you please provide us with the name of your 'plus one'?</h6>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.TextBoxFor(m => m.FirstNamePlusOne, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(m => m.FirstNamePlusOne, new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(m => m.FirstNamePlusOne, "", new { @class = "mdl-textfield__error" })
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.TextBoxFor(m => m.LastNamePlusOne, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(m => m.LastNamePlusOne, new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(m => m.LastNamePlusOne, "", new { @class = "mdl-textfield__error" })
                    </div>

                    <div class="form-group">
                        <h5>Dietary Preferences for your 'plus one'</h5>
                        <h6>Would your 'plus one' like a meatless meal option?</h6>
                        @Html.EditorFor(m => m.MeatlessPlusOne, new { @class = "" })

                        <h6>Would your 'plus one' like a vegan meal option?</h6>
                        @Html.EditorFor(m => m.VeganPlusOne, new { @class = "" })

                        <h6>Does your 'plus one' have any special dietary needs not accommodated by the questions above?</h6>
                        @Html.EditorFor(m => m.DietaryNotesPlusOne, new { @class = "" })
                    </div>

                }


                <input type="submit" class="mdl-button mdl-js-button mdl-button--raised" value="Submit RSVP" />
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




