<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("headLevel", required: false)
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    @Styles.Render("~/Content/css")
</head>

@*allow override of opening body tag*@
@if (IsSectionDefined("bodyTagOpen"))
{
    @RenderSection("bodyTagOpen")
}
else
{
    @:<body class="mdl-color--grey-100">
}

@RenderSection("topLevel", required: false)
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row" id="headerRow">
            <!-- Title -->
            <span class="mdl-layout-title">@Html.ActionLink("The Honeys' Wedding", "Index", "Home", null, null, "home", null, null)</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                @Html.ActionLink("Our Story", "Index", "Home", null, null, "ourStory", null, new { id = "menuOurStory", @class = "mdl-layout__tab" })
                @Html.ActionLink("When and Where?", "Index", "Home", null, null, "whenWhere", null, new { id = "menuWhenWhere", @class = "mdl-layout__tab" })
                @Html.ActionLink("Staying There", "Index", "Home", null, null, "stayingThere", null, new { id = "menuStayingThere", @class = "mdl-layout__tab" })
                @Html.ActionLink("The Venue", "Index", "Home", null, null, "venue", null, new { id = "menuVenue", @class = "mdl-layout__tab" })
                @Html.ActionLink("The Honey Fund (Registry)", "Registry", "Home", new { area = "" }, new { @class = "mdl-layout__tab" })
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">The Honeys' Wedding</span>
        <nav class="mdl-navigation">
            @Html.ActionLink("Our Story", "Index", "Home", null, null, "ourStory", null, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("When and Where?", "Index", "Home", null, null, "whenWhere", null, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("Staying There", "Index", "Home", null, null, "stayingThere", null, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("The Venue", "Venue", "Home", new { area = "" }, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("The Honey Fund (Registry)", "Registry", "Home", new { area = "" }, new { @class = "mdl-navigation__link" })
        </nav>
    </div>
    <main class="mdl-layout__content">
        @if (ViewBag.NoContentWrapper == true)
        {
            @Html.Partial("_Alerts")
            @RenderBody()
        }
        else
        {
            <div class="content-wrapper">
                @Html.Partial("_Alerts")
                @RenderBody()
            </div>
        }
    </main>

    <!--begin FAB at bottom-right corner-->
    <div class="mdl-floating-fab-bottom-left__container mdl-layout--large-screen-only">
        <button id="fab-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-button--fab mdl-button--colored">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--top-right mdl-js-menu" for="fab-menu-lower-left">
            @Html.Partial("_LoginPartial")
            @if (Request.IsAuthenticated && User.IsInRole("WeddingAdmin"))
            {
                <li>@Html.ActionLink("List Wedding Guests", "Index", "WeddingGuests", new { area = "" }, new { @class = "mdl-menu__item" })</li>
                <li>@Html.ActionLink("Invite Wedding Guests", "Invite", "WeddingGuests", new { area = "" }, new { @class = "mdl-menu__item" })</li>
            }
            @if (Request.IsAuthenticated && User.IsInRole("GlobalAdmin"))
            {
                <li>@Html.ActionLink("Users Admin", "Index", "UsersAdmin", new { area = "" }, new { @class = "mdl-menu__item" })</li>
            }
            @if (!Request.IsAuthenticated)
            {
                <li disabled class="mdl-menu__item"><i>(honeys only, for now!)</i></li>
            }
        </ul>
    </div>
    <!--end FAB-->

</div>

@RenderSection("scripts", required: false)

<script>
    // close mdl drawer when a nav link is clicked
    $(document).ready(function () {
        $('.mdl-navigation__link').click(function () {
            $('.mdl-layout__drawer').toggleClass('is-visible');
            $('.mdl-layout__obfuscator').toggleClass('is-visible');
        });
    });
</script>
</body>

</html>
