<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/prefixfree")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/fastdom")*@
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/mdl")
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @Styles.Render("~/Content/css")
    @RenderSection("headLevel", required: false)
    @Styles.Render("~/Content/modernizr_css")  @*placed last to override page-based styles*@
</head>

<body class="mdl-color--brown-200">

@RenderSection("topLevel", required: false)

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header obscure-on-load">
    <header class="mdl-layout__header" id="header">
        <div class="mdl-layout__header-row" id="headerRow">
            <!-- Title -->
            <span class="mdl-layout-title">@Html.ActionLink("The Honeys' Wedding", "Index", "Home", null, null, "home", null, null)</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                @if (Request.IsAuthenticated && User.IsInRole("WeddingAdmin"))
                {
                    @Html.ActionLink("Admin", "WeddingAdmin", "Home", new { area = "" }, new { @class = "mdl-layout__tab" })
                }
                @Html.ActionLink("Our Story", "Index", "Home", null, null, "ourStory", null, new { id = "menuOurStory", @class = "mdl-layout__tab" })
                @Html.ActionLink("Our Families", "Index", "Home", null, null, "ourFamilies", null, new { id = "menuOurFamilies", @class = "mdl-layout__tab" })
                @Html.ActionLink("When & Where", "Index", "Home", null, null, "whenWhere", null, new { id = "menuWhenWhere", @class = "mdl-layout__tab" })
                <a href="#" id="staying_there_menu" class="mdl-layout__tab @string.Format("mdl-layout__tab {0}", ViewBag.Title == "Staying There" ? "is-active" : "")"><i class="material-icons">arrow_drop_down</i>Staying There</a>
                @Html.ActionLink("The Venue", "Venue", "Home", null, null, null, null, new { id = "menuVenue", @class = string.Format("mdl-layout__tab {0}", ViewBag.Title == "The Venue" ? "is-active" : "") })
                @Html.ActionLink("The Honey Fund (Registry)", "Registry", "Home", new { area = "" }, new { @class = string.Format("mdl-layout__tab {0}", ViewBag.Title == "The Honey Fund" ? "is-active" : "") })
                <button id="user_menu" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation">
            @Html.ActionLink("Home", "Index", "Home", null, null, "home", null, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("Our Story", "Index", "Home", null, null, "ourStory", null, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("Our Families", "Index", "Home", null, null, "ourFamilies", null, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("When & Where", "Index", "Home", null, null, "whenWhere", null, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("Accommodations", "Accommodations", "Home", null, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("Wineries to Visit", "Wineries", "Home", null, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("Things To Do", "Things_To_Do", "Home", null, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("The Venue", "Venue", "Home", new { area = "" }, new { @class = "mdl-navigation__link" })
            @Html.ActionLink("The Honey Fund (Registry)", "Registry", "Home", new { area = "" }, new { @class = "mdl-navigation__link" })
        </nav>
    </div>

    <main class="mdl-layout__content">
        @if (ViewBag.NoContentWrapper == true)
        {
            @Html.Partial("_Alerts")
            @RenderBody()
        }
        else
        {
            <div class="content-wrapper">
                @Html.Partial("_Alerts")
                @RenderBody()
            </div>
        }
    </main>

</div>

<!--Staying There Menu-->
<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="staying_there_menu">
    <li>@Html.ActionLink("Accommodations", "Accommodations", "Home", null, new { @class = "mdl-menu__item" })</li>
    <li>@Html.ActionLink("Wineries to Visit", "Wineries", "Home", null, new { @class = "mdl-menu__item" })</li>
    <li>@Html.ActionLink("Things To Do", "Things_To_Do", "Home", null, new { @class = "mdl-menu__item" })</li>
</ul>

<!--User Menu-->
<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="user_menu">
    @Html.Partial("_LoginPartial")
    @if (Request.IsAuthenticated && User.IsInRole("WeddingAdmin"))
    {
        <li>@Html.ActionLink("List Wedding Guests", "Index", "WeddingGuests", new { area = "" }, new { @class = "mdl-menu__item" })</li>
        <li>@Html.ActionLink("Invite Wedding Guests", "Invite", "WeddingGuests", new { area = "" }, new { @class = "mdl-menu__item" })</li>
        <li>@Html.ActionLink("Manage Accommodations", "Index", "AccommodationLocations", new { area = "" }, new { @class = "mdl-menu__item" })</li>
    }
    @if (Request.IsAuthenticated && User.IsInRole("GlobalAdmin"))
    {
        <li>@Html.ActionLink("Users Admin", "Index", "UsersAdmin", new { area = "" }, new { @class = "mdl-menu__item" })</li>
    }
    @if (!Request.IsAuthenticated)
    {
        <li disabled class="mdl-menu__item"><i>(honeys only, for now!)</i></li>
    }
</ul>


@RenderSection("scripts", required: false)

<script>
    $(window).load(function () {
        setTimeout(function () { // timeout ensures function fires AFTER mdl does its upgrades

            // add listener: close mdl drawer and hide obfuscator when a nav link is clicked
            $('.mdl-layout__drawer .mdl-navigation__link').click(function () {
                $('.mdl-layout__drawer').toggleClass('is-visible');
                $('.mdl-layout__obfuscator').toggleClass('is-visible');
            });

            // prevent content flash (resulting from deferred mdl script) for elements that will be hidden on small screen (nav, fab, etc.)
            $('.obscure-on-load').toggleClass('obscure-on-load');

            // render window.load scripts from view templates
            @RenderSection("scriptWindowLoad", required: false)

        }, 0);
    });

</script>
</body>

</html>
